@import "../styles/variables/";
@import "../styles/mixins";

.error-message {
  color: $primary-color;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 0.5em;
}

.appointment-details {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 700px;
  margin-top: 2em;
  row-gap: 1em;

  .status-history {
    display: flex;
    flex-direction: column;
    row-gap: 1em;

    .history-detail:nth-child(even) {
      background-color: $light-color;
    }

    .history-detail {
      display: flex;
      justify-content: space-between;
      width: 550px;
      padding: 1em 1em;
      p {
        font-size: 1.5em;
      }
      .stat {
        width: 150px;
      }
      span {
        font-size: 1.5em;
      }
    }
  }

  .appointment-status {
    .status {
      column-gap: 0.5em;
      display: flex;

      .update-button {
        position: relative;
        display: inline-block;
        cursor: pointer;
        i {
          font-size: 3em;
        }
        .next-status {
          color: $success-color;
        }

        .cancel-appointment {
          color: $primary-color;
        }

        .next {
          background-color: $success-color;
          color: $light-color;
          &::after {
            border-color: $success-color transparent transparent transparent;
          }
        }
        .cancel {
          background-color: $primary-color;
          color: $light-color;
          &::after {
            border-color: $primary-color transparent transparent transparent;
          }
        }
        .tooltip {
          position: absolute;
          bottom: 125%;
          left: 50%;
          transform: translateX(-50%);
          padding: 8px 12px;
          border-radius: 4px;
          font-size: 1.2em;
          white-space: nowrap;
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.3s ease visibility 0.3s ease;

          &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            border-width: 5px;
            border-style: solid;
          }
        }
        &:hover .tooltip {
          visibility: visible;
          opacity: 1;
        }
      }

      .disabled {
        color: $disabled-color;
        cursor: not-allowed;
        .cancel-appointment {
          color: $disabled-color;
        }
        .next-status {
          color: $disabled-color;
        }
      }
    }
    h1 {
      font-size: 3em;
      font-family: "Comfortaa", "Roboto", sans-serif;
      margin: 0;
    }
    p {
      color: $primary-color;
      margin-right: 2em;
      text-align: right;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .appointment-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    hr {
      margin: 1em;
    }
    .requirements {
      display: flex;
      justify-content: space-between;

      h2 {
        width: 100px;
        text-align: right;
        color: #868686;
        font-size: 1.5em;
        font-weight: 400;
      }
      span {
        font-weight: bold;
        font-size: 1.5em;
        color: #868686;
      }

      ul {
        li {
          list-style: none;
          width: 150px;
          text-align: left;
          font-size: 1.5em;
        }
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      row-gap: 1em;

      .info-group {
        display: flex;
        justify-content: space-between;
        h2 {
          width: 150px;
          text-align: right;
          color: #868686;
          font-size: 1.5em;
          font-weight: 400;
        }

        span {
          font-size: 1.5em;
          color: #868686;
          font-weight: bold;
        }
        p {
          width: 150px;
          text-align: left;
          font-size: 1.5em;
        }
      }
    }
  }
}
