@import "../styles/variables/";
@import "../styles/mixins";

.dashboard {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  padding: 0 3em;

  .appointment-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .filter-wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 0.5em;
      align-items: flex-end;

      .filter-selection {
        margin-right: 2em;
        display: flex;
        column-gap: 1em;
        font-size: 1.5em;
        align-items: center;

        select {
          font-family: "Comfortaa", "Roboto", sans-serif;
          width: 175px;
          padding: 0.3em 0.2em;
        }
        p {
          text-align: center;
        }
      }
    }

    .filterResult {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      row-gap: 1em;
    }

    label {
      display: flex;
      align-items: center;
      font-size: 1.5em;
      column-gap: 0.5em;
      i {
        cursor: pointer;
        font-size: 1.5em;
      }
      input {
        font-family: "Comfortaa", "Roboto", sans-serif;
        width: 140px;
        padding: 0.3em 0.2em;
      }
      input[type="text"] {
        text-transform: uppercase;
      }
    }
  }

  hr {
    border: 0.1em solid $input-border;
    width: 100%;
  }

  .appointments-container {
    display: flex;
    flex-direction: column;
    flex-direction: flex-start;
    overflow-y: auto;
    box-sizing: border-box;
    row-gap: 0.5em;
    width: 100%;
    padding: 0 1em;
    height: 100vh;
    scrollbar-width: none;
    margin: 1em 0;

    div {
      display: flex;
      column-gap: 2em;
      border-radius: 10px;
      height: 80px;
      background-color: #efefef;
      cursor: pointer;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.01);

      &:hover {
        transform: scale(1.02);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
      }

      .schedule {
        display: flex;
        flex-direction: column;
        row-gap: 1em;
        width: 125px;
        padding: 1em;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background-color: $primary-color;
        color: white;

        h2,
        h3 {
          font-family: "Comfortaa", "Roboto", sans-serif;
        }

        h3 {
          font-size: 1.4em;
        }
      }

      .status {
        display: flex;
        flex-direction: column;
        width: 200px;
        padding: 1em;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: $tertiary-color;

        span {
          font-family: "Roboto", sans-serif;
          font-size: 1.3em;
        }
      }

      h1 {
        width: 100%;
      }
    }
  }
}
