@import "../styles/variables/";
@import "../styles/mixins";

.login-container {
  display: flex;
  justify-content: flex-end;
  margin: 100px 150px 0 125px;
  font-family: $font-stack;
  background-image: url("../assets/images/putatanLogo.png");
  background-repeat: no-repeat;
  background-size: 500px;

  .title {
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 5px;
  }

  h1 {
    text-transform: uppercase;
    font-size: 2.25em;
    letter-spacing: 0.002rem;
    margin: 0;
    // color: #dc0d0d;
  }

  h2 {
    font-size: 1.75em;
    margin: 0;
    // color: #dc0d0d;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  // margin: 100px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid $input-border;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  input {
    padding: 10px;
    min-width: 80%;
    margin: 5px 0;
    font-size: 16px;
    border: 1px solid $input-border;
    border-radius: 5px;
    font-family: $font-stack;

    &:focus {
      @include input-focus;
    }
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  button {
    margin: 10px 0;
    min-width: 85%;
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: $primary-color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }

  #sign-up {
    background-color: $secondary-color;
    margin: 10px 0;
    padding: 10px;
    min-width: 50%;
    font-size: 18px;
    text-align: center;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;

    &:hover {
      background-color: darken($secondary-color, 10%);
    }
  }
}
