@import "../styles/variables/";
@import "../styles/mixins";

* {
  margin: 0;
}

nav {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: white;
  color: white;
  height: 100vh;
  row-gap: 2em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;

  h2 {
    font-family: "Comfortaa", "Roboto", sans-serif;
    line-height: 1.5em;
    font-size: 1.75em;
    text-align: center;
    background-color: $primary-color;
    padding: 3em 0;
  }

  ul {
    li {
      list-style: none;
      padding: 2em 0;
      text-indent: 3em;
      display: flex;
      align-items: center;

      &:hover {
        background-color: #eaeaea;
      }

      i {
        color: $primary-color;
        font-size: 2.5em;
      }

      span {
        color: $primary-color;
        text-indent: 1.5em;
        font-size: 1.7em;
        text-align: center;
        // align-items: center;
      }
    }
  }

  div {
    padding: 5px 10px;
  }

  .profile {
    position: relative;
    display: flex;

    button {
      display: grid;
      place-items: center;
      background-color: #fff;
      color: #3a3a3a;
      border: 0.1rem solid $input-border;
      font-size: 1.5em;
      font-weight: bold;
      width: 2.5em;
      aspect-ratio: 1;
      border-radius: 50%;
      border-width: 0.1em;
      cursor: pointer;
    }

    .dropdown-menu {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 100%;
      right: 0;
      background-color: #fff;
      border: 0.1rem solid $input-border;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      padding: 1em 0;
      z-index: 1000;
      width: 150px;

      li {
        color: #000;
        list-style: none;
        margin: 0 2em;
        font-size: 1.3em;
        padding: 0.5em 0;
        cursor: pointer;
      }
    }
  }
}
