@import "../styles/variables/";
@import "../styles/mixins";

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 100vh;
  padding: 1.5em;
  padding-top: 2em;
  // border: solid 0.1em $input-border;
  row-gap: 2em;

  .right-navbar {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    height: 100vh;
    li {
      cursor: pointer;
      display: flex;
      align-items: center;
      list-style: none;
      font-size: 1.5em;
      padding: 0.5em;
      column-gap: 1em;
      // border: 0.1em solid $input-border;
      border-radius: 25px;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: darken($primary-color, 10%);
        color: #fff;
        i {
          background-color: #fff;
          color: $primary-color;
        }
      }
      i {
        color: #fff;
        background-color: $primary-color;
        font-size: 2em;
        border-radius: 50%;
        padding: 0.3em;
      }
    }
  }

  .copyright {
    .social {
      display: flex;
      justify-content: center;
      column-gap: 1em;
      margin-bottom: 1em;

      i {
        color: $primary-color;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: $secondary-color;
        }
      }
    }
    align-self: flex-end;
    text-align: justify;
    p {
      font-size: 1.3em;
      text-align: center;
    }
  }

  hr {
    border: 0.1em solid $input-border;
    width: 70%;
  }

  .user-group {
    position: relative;
    display: flex;
    column-gap: 1em;
    align-items: center;
    justify-content: center;
  }

  .user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  button {
    border: none;
    background-color: #fff;
    cursor: pointer;
  }

  i {
    color: $primary-color;
    font-size: 3em;
  }

  p {
    font-size: 1.3em;
  }

  h2 {
    font-size: 2em;
    font-family: $font-stack;
    color: $font-color;
  }

  .dropdown-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 0.1rem solid $input-border;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 1em 0;
    z-index: 1000;
    width: 150px;

    li {
      color: #000;
      list-style: none;
      padding: 0 2em;
      text-indent: 1em;
      font-size: 1.3em;
      padding: 0.5em 0;
      cursor: pointer;

      &:hover {
        background-color: #cfcfcf;
      }
    }
  }

  // h2 {
  //   font-family: "Roboto", "Comfortaa", sans-serif;
  // }
}
