@import "../styles/variables/";
@import "../styles/mixins";

.bg-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .reset-password-container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    font-family: $font-stack;

    h1 {
      font-size: 2.5em;
      color: $primary-color;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        label {
          font-size: 1.2em;
          color: $font-color;
          margin-bottom: 8px;
        }

        input {
          width: 100%;
          padding: 12px 15px;
          font-size: 16px;
          border: 1px solid $input-border;
          border-radius: 5px;
          font-family: $font-stack;
          transition: border-color 0.3s ease;

          &:focus {
            @include input-focus;
          }
        }
      }

      button {
        padding: 12px 15px;
        font-size: 18px;
        background-color: $primary-color;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: darken($primary-color, 10%);
        }

        &:active {
          background-color: darken($primary-color, 15%);
        }
      }

      .error-message {
        font-size: 1em;
        color: $primary-color;
        margin-top: -10px;
        text-align: left;
      }

      .success-message {
        font-size: 1em;
        color: $success-color;
        margin-top: -10px;
        text-align: left;
      }
    }
  }
}
